#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
#nav *::after{
    background-color: transparent!important;
}
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
  /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
  改为：*/
  left:50%;
  translate:-50%;
}

#web_bg {
  background: -webkit-linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  background: -moz-linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  background: -o-linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  background: -ms-linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  background: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}
/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/
@media screen and (max-width: 800px) {
  #aside_content
  div:not(:last-child) {
      display: none;
      font-size: 13px;
  }
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e58a8a;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #e58a8a;
}

